.login-form__link {
    color: #e91e63;
}

.login-form__button {
    width: 100%;
    margin-bottom: 32px;
}

.login-form__error {

    background: #f4433671;
    text-align: center;
    padding: 6px;
    color: #fff;
    margin-bottom: 8px;
    border-radius: 5px;

}