<!--<div class="login" fxLayout="column" fxLayoutAlign="center center">
    <app-logo class="login__logo" routerLink="/"></app-logo>
    <div class="login__box">
        <router-outlet></router-outlet>
    </div>
</div>-->

<div class="login">

    <div class="login__container">

        <app-logo class="login__logo" routerLink="/"></app-logo>

        <div class="login__box">
            <router-outlet></router-outlet>
        </div>
    </div>

    <footer class="login__footer">
        <p class="login__footer--copyright">Aplikacja wykonana przez <span>Patrycja Nowak-Bielecka</span><span>Monika Szczepanik</span>.
        </p>
    </footer>

</div>
